body {
  margin: 0;
  font-family: sans-serif;
  /* font-family: 'Source Code Pro'; */
  background-color: lightgray;
}

.bold {
  font-weight: bold;
}

.content {
  margin: 0 auto;
  width: auto;
}

table, td {
  /* border: 2px solid black; */
  margin: none;
  padding: 10px;
  font: optional;
  width: 100%;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
*/

tr {
  padding: 20px;
}
/* 
td {
  border: 2px solid black;
} */
/*
td {
  /* text-align: center; */
  /* padding-left: 20px; */
  /* width: 100%; */
/* } */

.form {
  margin-top: 20px;
}


#content {
  text-align: center;
  margin: 20px;
  width: 80%;
}

#container {
  margin: auto;
  width: 70%;
  padding: 10px;
  /* border: 3px solid black; */
  /* background-color: white; */
}

h1, h4 {
  text-align: center;
  margin: 10px;
}

img {
  width: 100%;
  border: 2px solid #8f8f9d;

  /* Add the blur effect */
  /* 
  filter: blur(4px);
  -webkit-filter: blur(4px);
  */
  
}

.center {
  text-align: center;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: gray;
  color: white;
}

a {
  text-decoration: none;
  color: blue;
}